/* FFFCF2 - off white
CCC5B9 light grey
403D39 dark grey
252422 black
EB5E28 orange */


.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #403D39;
}

.job-time {
  color: #403D39;
  height: 10%;
  font-size: 175%;
  font-weight: bold;
  margin: 0;
  padding:2%;
}
