.job {
  background-color: #FFFCF2;
  border-radius: 5px;
  margin-top: 8%;
  width: 80%
} */

.job-time {
  height: 10%;
  font-size: 175%;
  font-weight: bold;
  margin: 0;
  padding:2%;
}

.address-container {
  align-content: center;
  diplay: flex;
}
