/* FFFCF2 - off white
CCC5B9 light grey
403D39 dark grey
252422 black
EB5E28 orange */


.App {
  background-color: #fffcf2;
  height: 100vh;
  text-align: center;
}

.nav-bar {
  background-color: #403D39;
  display: flex;
  justify-content: center;
  height: 5vh;
}

.main-header {
  color: #FFFCF2;
  font-size:3vh;
  margin: 0;
}
