 .user-jobs {
  display: flex;
  flex-direction: column;
}


.jobs-container {
    filter: saturate(75%);
  align-items: center;
  background-color: #FFFCF2;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px #EB5E28,
  -1px -1px 0px 0 #EB5E28;
  color: #403D39;
  display: flex;
  flex-direction: column;
  margin-top: 10%;  
  width: 80vw;
}

.current-job-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.fav-btn {
  cursor: pointer;
  height: 6vh;
  width: 6vh;
} 

@media screen and (min-device-width: 1260px) {
  .jobs-container {
    width: 25vw;
  }

  .user-jobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
  }
}