.completed-jobs-container {
  background-color: #FFFCF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.completed-links {
  color: #252422;
  justify-content: center;
  display: flex;
  text-decoration: none;
  width: 100vw;
}
